.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.searchMoviesPosterPath {
  width: 75px;
  height: 112.5px;
  margin: 10px;
}

.searchMoviesBackdropPath {
  max-height: 254px;
}

.searchedMoviesCard {
  width: 450px;
  min-width: 250px;
  max-width: 450px;
  position: relative;
}

@media (min-width: 520px) {

  .progressContainer{
    position: absolute;

    width: 100%;   /* desired width */
    min-width: 250px;
    max-width: 450px;
  }
  .progressContainer:before{
    content: "";
    display: block;
    padding-top: 56.28%;  /* initial ratio of 1:1*/
  }

  .loadingSearchMoviesCard{
    background:rgba(0,0,0,.5);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /*.loadingSearchMoviesCard {
      background:rgba(0,0,0,.5);
      height:100%;
      position:absolute;
      display:inline-block;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      text-align:center;
      width: 450px;
      min-width: 250px;
      max-width: 450px;
  }
  */
  .progressCircularSearchMoviesCard{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (max-width: 520px) {



  .loadingSearchMoviesCard{
    background:rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  /*.loadingSearchMoviesCard {
      background:rgba(0,0,0,.5);
      height:100%;
      position:absolute;
      display:inline-block;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing:border-box;
      text-align:center;
      width: 450px;
      min-width: 250px;
      max-width: 450px;
  }
  */
  .progressCircularSearchMoviesCard{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.countMovies {
  font-size: 18px;
}

.presentationBackground {
  background-repeat:no-repeat;
  background-position: center center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  /*-webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
*/  
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:1;
}

.shade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background: -moz-radial-gradient(center, circle cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.7)), color-stop(100%, rgba(0,0,0,0.4)));
  background: -webkit-radial-gradient(center, circle cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 100%);
  background: -o-radial-gradient(center, circle cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 100%);
  background: -ms-radial-gradient(center, circle cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 100%);
  background: radial-gradient(center, circle cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 100%);
  background: -webkit-radial-gradient(center, circle cover, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 100%);
  z-index: 2;
}


.searchedMoviesCardContainer {
  /*justify-content: space-around;*/
  align-content: center;
  margin: 0 auto;
  /*margin-top: 50px;
  margin-bottom: 50px;*/
}

.headline {
  font-size: 1.1em;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.subline {
  font-size: 0.9em;
}

.loadingBar {
  position: fixed;
  z-index: 10;
}

cl-paging div {
  margin: 10px;
}

#bottomImproveAccuracyNavigation {
  align-items: center;
  display: flex;
  justify-content: center;
}

md-card img:hover {
  cursor: pointer;
  cursor: hand;
}

md-dialog-content img {
  width: 100%;
  min-width: 300px;
  height: auto;
}

#movieDetailsDialog {
  width: 780px;
  /*display: block;*/
  background:rgb(250,250,250);
  overflow: hidden;
}

.movieDetailsBackdropPath {
  /*max-height:100%;
  min-height:100%;
  min-width: 780px;*/
  max-width: 100%;
  height: auto;
  position:relative;
  z-index:-1;
}

#movieDetailsDialog md-dialog-content {
  z-index:1;
  overflow: hidden;
  display:block;
  float:left;
  margin-top:-200px;
  width:100%;
  background:rgb(250,250,250);
  transform:skew(0deg,-5deg);
  -ms-transform:skew(0deg,-5deg); /* IE 9 */
  -webkit-transform:skew(0deg,-3deg); /* Safari and Chrome */
  outline: 1px solid transparent;
  
}

#movieFloatingInfo {
  position: absolute;
  top: 200px;
  left: 265px;
  z-index: 5;
  color: white;
}

#moviePoster {
  position: absolute;
  top: 200px;
  left: 40px;
  z-index: 5;
}

/*#moviePoster img {
  max-width: 50%;
  height: auto;
}*/

#wrapper {
  display:block;
  min-height: 100px;
  float:left;
  margin:10px auto 50px;
  width:100%;
  padding:0 5%;
  padding-left: 250px;
  transform:skew(0deg,3deg);
  -ms-transform:skew(0deg,5deg);
  -webkit-transform:skew(0deg,3deg); 
}

#headerimage {
  height:439px;
  width:100%;
  background-size:cover;
  position:relative;
  z-index:-1;
  margin-top: -50px;
  margin-bottom: 150px;
  background-color: rgba(0,0,0,.4)
}

#headerimage:before {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background-color: inherit;
  content: ' ';
}


.close_button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.close_button md-icon {
  color: white;
}

#movieTitle {
  margin-bottom: 0px;
  white-space: initial;
}

#movieDetailsDialog .md-chips {
  box-shadow: none;
}

/*Image preloading*/
div#preloaded-images {
  position: absolute;
  overflow: hidden;
  left: -9999px; 
  top: -9999px;
  height: 1px;
  width: 1px;
}


.textCenter {
  text-align: center;
}

.logoLogin {
  max-width: 375px;
  margin: auto;
  padding-top: 20px;
  /*background-color: deepskyblue;*/
}

.logoHome {
  width: 100px;
  height: 100px;
}

#appNameHome {
  color: white;
  text-align: center;
  line-height: 60px;
  margin-left: 20px;
}

.homeContent {
  color: white;
  text-align: center;
  background-color: dimgrey;
}

#homeText {
  width: 60%;
  z-index: 5;
}

@media (max-width: 650px) {
  #homeText {
    width: 90%;
  }
  #appNameHome {
    margin-left: 10px;
  }
}

.homeTitle {
  justify-content: center;
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.robotoLight {
  font-weight: lighter;
}

#radarChartCard, #barChartCard {
  padding: 15px;
}


@media (min-width: 650px) {
  #radarChartCard {
    margin: auto;
    max-width: 70%;
  }
}



/* fade animation */
.animate-show {
  transition: 0.75s cubic-bezier(0, 0, 0.2, 1) opacity;
  opacity: 1;
}
.animate-show.ng-hide {
  height: 0;
  min-height: 0;
  opacity: 0;
  overflow: hidden;
}


.animate-show-in {
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1) all;
  opacity: 1;
  transform: translate(0,0px);
}
.animate-show-in.ng-hide {
  opacity: 0;
  overflow: hidden;
  transform: translate(0,50px);
}

#navigation_drawer md-icon{
  margin-top: 16px;
  margin-bottom: 16px;
}


.swiftInAnimation.ng-enter {
  /* standard transition code */
  /*animation-timing-function: cubic-bezier(0, 0, 0.2, 1);  => Swift-in material animation*/
  transition: 400ms cubic-bezier(0, 0, 0.2, 1) all;
  opacity:0;
  transform: translate(0,50px);
}

.swiftInAnimation.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
  transform: translate(0,0px);
}

.swiftInAnimation.ng-enter-stagger {
  transition-delay: 60ms;
  animation-delay: 60ms;
  transition-duration: 0s;
}

@keyframes pulsate {
  0% {-webkit-transform: scale(0.0, 0.0); opacity: 0.0;}
  50% {-webkit-transform: scale(1.5, 1.5); opacity: 1.0;}
  100% {-webkit-transform: scale(1, 1);}
}


/* .pulsateButtons {
  -webkit-animation: pulsate 0.4s cubic-bezier(0, 0, 0.2, 1);
} */

.pulsateButtons.ng-enter {
  /* standard transition code */
  /*animation-timing-function: cubic-bezier(0, 0, 0.2, 1);  => Swift-in material animation*/
  -webkit-animation: pulsate 1s cubic-bezier(0, 0, 0.2, 1);
}

.pulsateButtons.ng-enter-stagger {
  transition-delay: 60ms;
  animation-delay: 60ms;
  transition-duration: 0s;
}

@keyframes slideLeftToRight {
  0% {-webkit-transform: translate(-100px,0); opacity: 0.0;}
  100% {-webkit-transform: translate(0px,0); opacity: 1.0;}
}

.slideLeftToRight {
  -webkit-animation: slideLeftToRight 0.3s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes slideTopToBottom {
  0% {-webkit-transform: translate(0,-50px); opacity: 0.0;}
  100% {-webkit-transform: translate(0px,0); opacity: 1.0;}
}

.slideTopToBottom {
  -webkit-animation: slideTopToBottom 0.3s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes slideBottomToTop {
  0% {-webkit-transform: translate(0,50px);; opacity: 0.0;}
  100% {-webkit-transform: translate(0px,0); opacity: 1.0;}
}

.slideBottomToTop {
  -webkit-animation: slideBottomToTop 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.arrow_up {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.arrow_down {
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.menu_hidden {
  /*Animation remonté*/
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.menu_show {
  /*Animation descente*/
  max-height: 300px;
  -webkit-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
  transition: all 1s cubic-bezier(0, 0, 0.2, 1);
}


.sliderError {
  color: rgb(221,44,0);
  margin-top: -43px;
  padding-right: 5px;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
}

.creditsPersonalPhotos {
  margin-top: 20px !important;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: auto;
  -webkit-transition: -webkit-transform .5s cubic-bezier(0, 0, 0.2, 1);
  transition: transform .5s cubic-bezier(0, 0, 0.2, 1);
}

.creditsPersonalPhotos:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.sentimentAnalysis {
  display: block;
  z-index: 3;
  position: absolute;
  left: 84%;
  top: 5%;
}

#sidenav-toolbar {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../images/upper_picture.jpg);
}

@-moz-document url-prefix() { 
  #sidenav-toolbar {
    min-height: 150px;
  }

  #sidenav-toolbar > div:nth-of-type(1) {
    margin-top: -15px;
  }
}


/*#movieDetailsDialog md-dialog-content div {
  transform-origin: left center;
  transform: rotate(3deg);
}*/

/*searchMovieCard > md-input-container, input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, .md-input-focused, .md-input, md-input-container:not(.md-input-has-value) input:not(:focus) {
    border: none;
}

searchMovieCard > md-input-container textarea, md-input-container input[type="text"], md-input-container input[type="password"], md-input-container input[type="datetime"], md-input-container input[type="datetime-local"], md-input-container input[type="date"], md-input-container input[type="month"], md-input-container input[type="time"], md-input-container input[type="week"], md-input-container input[type="number"], md-input-container input[type="email"], md-input-container input[type="url"], md-input-container input[type="search"], md-input-container input[type="tel"], md-input-container input[type="color"] {
  border: none;
}*/

/*#searchMovieCard {
  border : none !important;
}*/

/*
md-input-container:not(.md-input-has-value) input:not(:focus) {
  border: none;
}*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}



















@media (max-width: 650px) {
  md-sidenav.md-sidenav-list {
    max-width: 100%;
    width: 100%;
  }
}
md-sidenav.md-sidenav-list md-list {
  border-right: 1px solid #d5d5d5;
}
md-sidenav > md-toolbar.md-tall {
  padding: 15px;
  height: auto;
  max-height: 150px;
}

/*Navigation drawer pattern: https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-specs*/
md-sidenav md-list-item.md-2-line .md-list-item-text {
  padding-top: 14px;
  padding-bottom: 12px;
}
md-sidenav md-divider {
  margin-top: 4px;
  margin-bottom: 4px;
}

md-sidenav.md-sidenav-list md-list-item.md-2-line .md-list-item-text,
md-sidenav.md-sidenav-list md-list-item.md-2-line > .md-no-style .md-list-item-text {
  margin-bottom: 5px;
  margin-top: 5px;
}
md-sidenav.md-navigation-drawer md-list-item.md-2-line .md-list-item-text,
md-sidenav.md-navigation-drawer md-list-item.md-2-line > .md-no-style .md-list-item-text {
  padding-top: 6px;
  padding-bottom: 6px;
}
md-sidenav.md-navigation-drawer, md-sidenav.md-navigation-drawer.md-locked-open {
  width: 268px;
  min-width: 268px;
  max-width: 268px;
}

md-backdrop + md-sidenav.md-sidenav-list {
  z-index: 3;
}

md-sidenav:not(.md-sidenav-list) md-icon {
  fill: #737373;
  position: relative;
}
md-sidenav:not(.md-sidenav-list) .md-avatar {
  height: 64px;
  width: 64px;
}

/*White svg icons in toolbar and fab*/
md-sidenav md-icon {
  /* fill: #737373; */
  position: relative;
}
md-sidenav .md-avatar {
  height: 64px;
  width: 64px;
}


/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */
md-list-item.md-3-line md-divider[md-inset] {
  left: 70px;
}

/*// Round avatar*/
.md-avatar > svg {
  border-radius: 50%;
}

/* Hide backdrop for internal sidenav */
md-content md-backdrop {
  display: none;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
