<div layout-fill layout="column">
  <!-- Main toolbar -->
  <md-toolbar class="md-whiteframe-z1 slideTopToBottom">
    <div class="md-toolbar-tools">
      <!-- Hamburger icon -->
      <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
        <md-icon md-svg-icon="navigation:ic_menu_24px" aria-label="Menu"></md-icon>
      </md-button>
      <h3>
        DeepMovies<sup>®</sup>
      </h3>
      <span flex></span>

      <!-- Search and menus icons -->
      <md-button class="md-icon-button" aria-label="Search" ng-click="toggleSearch()">
        <md-icon md-svg-icon="action:ic_search_24px" aria-label="Search"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon md-svg-icon="navigation:ic_more_vert_24px" aria-label="More"></md-icon>
      </md-button>
    </div>
  </md-toolbar>


  <!-- Content -->
  <div layout="column" layout-padding>

    <md-card>
      <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><b>Bienvenue jeune padawan !</b></span>
            <span class="md-subhead">Annotez des films pour permettre au système de déterminer vos goûts !</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Rendez-vous dans la <b>page "Améliorer mes prédictions"</b> et annotez des films en cliquant sur les petits pouces.
            Le <b>"thumb up" bleu indique que vous aimez ce film</b>, le <b>"thumb down" rouge indique lui que vous n'aimez pas celui-ci</b> (ou que vous ne souhaitez pas le voir). 
          </p>
          <p>
            Après avoir annoté vos films, vous pouvez <b>exporter vos résultats</b> en vous rendant sur la <b>page "Accueil"</b> puis en cliquant sur le <b>bouton "Enregistrer mes annotations"</b>.
          </p>
          <p>
            Pour poursuivre votre annotation de films, vous pouvez <b>importer vos précédentes</b> annotations depuis la <b>page "Accueil"</b> en sélectionnant votre fichier puis en <b>cliquant sur "Importez vos préférences"</b>.
          </p>

          <p><b>ATTENTION: Ne rechargez pas la page !
          Actuellement, un refresh de celle-ci vous fait perdre toutes vos données que vous n'avez pas sauvegardées !</b>
          Sauvegardez régulièrement et surtout naviguez à travers les pages grâce aux menus du site <span style="font-size: 20px;">☺</span></p>
        </md-card-content>
    </md-card>

    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><b>Importez ou exportez vos préférences</b></span>
          <span class="md-subhead">Améliorez vos prédictions en notant d'autres films !</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <!-- <label for="preferences" class="md-button md-raised md-primary">Uploader vos films déja annotés</label>
        <input type="file" id="preferences"> -->
        <!--  <input class="ng-hide" id="input-file-id" multiple type="file" />
        <label for="input-file-id" class="md-button md-raised md-primary">Choose Files</label> -->
        <div><b>Uploader vos films déjà annotés</b></div>
        <input id="preferences" type="file">
        <!-- <md-input-container>
          <label>&nbsp;</label>
          <input id="preferences" type="file">
        </md-input-container> -->
        <md-button ng-click="uploadFiles()" class="md-raised" aria-label="description" md-ripple-size="auto">Importez vos préférences</md-button>

        <md-button ng-click="saveToPc(moviesEvaluation, 'moviesEvaluated.json')" class="md-raised" aria-label="description" md-ripple-size="auto">Enregistrer mes annotations</md-button>
      </md-card-content>

      
    </md-card>

  </div>
</div layout-fill>
