<div layout-fill layout="column">
  <!-- Main toolbar -->
  <md-toolbar class="md-whiteframe-z1 slideTopToBottom">
    <div class="md-toolbar-tools">
      <!-- Hamburger icon -->
      <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
        <md-icon md-svg-icon="navigation:ic_menu_24px" aria-label="Menu"></md-icon>
      </md-button>
      <h3>
        <span class="robotoLight">Deep</span><span class="pacifico">Movies</span><sup>®</sup>
      </h3>
      <span flex></span>

      <!-- Search and menus icons -->
      <!-- <md-button class="md-icon-button" aria-label="Search" ng-click="toggleSearch()">
        <md-icon md-svg-icon="action:ic_search_24px" aria-label="Search"></md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon md-svg-icon="navigation:ic_more_vert_24px" aria-label="More"></md-icon>
      </md-button> -->
    </div>
  </md-toolbar>


  <!-- Content -->
  <md-content layout-padding ng-cloak>

    <md-card>
      <md-card-title>
          <md-card-title-text>
            <span class="md-headline"><b>Bienvenue sur le site de prédictions intelligente de films : DeepMovies !</b></span>
            <!-- <span class="md-subhead">Annotez des films pour permettre au système de déterminer vos goûts !</span> -->
          </md-card-title-text>
        </md-card-title>
        <md-card-content>


          <p>Qui n'a pas rêvé d'avoir une liste de suggestions de films correspondant à ses goûts cinématographiques ? Et bien vous êtes au bon endroit ! Et cela n’a jamais été aussi simple !</p>

          <p>Suivez ces étapes , et vous verrez… C’est magique !</p>

          <ul>
            <li>
              <p><b>1<sup>ère</sup> étape : Annotez des films pour permettre au système de déterminer vos goûts !</b></p>

              <p>Cliquez sur <b>"Améliorer mes prédictions"</b> et sélectionnez les films que vous aimez (<md-icon md-svg-icon="action:ic_thumb_up_24px"></md-icon> pour “j’aime ce film”, <md-icon md-svg-icon="action:ic_thumb_down_24px"></md-icon> pour “je n'aime pas ce film”). Plus vous noterez de films, plus les films suggérés correspondront à vos goûts !</p>
            </li>

            <li>
              <p><b>2<sup>ème</sup> étape : Consultez les films suggérés par notre site !</b></p>

              <p>Et oui, c’est déjà fini, vous pouvez maintenant voir les films suggérés pour vous !</p>

              <p>Cliquez sur <b>“Mes recommandations”</b>, vous verrez alors s’afficher les films populaires notés par les autres utilisateurs de notre site et correspondant à vos goûts ! </p>

              <p>Non content des films suggérés ? Aucun problème essayez de cliquer sur l’onglet “Découverte” qui vous proposera une nouvelle liste de films !</p>
              <p>Et n’hésitez pas à affiner vos goûts en retournant sur “Améliorer mes prédictions”</p>
            </li>
          </ul>

          <p><b>Prêt ? Allez-y, lancez-vous !</b></p>


         <!--  <p>
            Rendez-vous dans la <b>page "Améliorer mes prédictions"</b> et annotez des films en cliquant sur les petits pouces.
            Le <b>"thumb up" bleu indique que vous aimez ce film</b>, le <b>"thumb down" rouge indique lui que vous n'aimez pas celui-ci</b> (ou que vous ne souhaitez pas le voir). 
          </p>
          <p>
            Après avoir annoté vos films, vous pouvez <b>exporter vos résultats</b> en vous rendant sur la <b>page "Accueil"</b> puis en cliquant sur le <b>bouton "Enregistrer mes annotations"</b>.
          </p>
          <p>
            Pour poursuivre votre annotation de films, vous pouvez <b>importer vos précédentes</b> annotations depuis la <b>page "Accueil"</b> en sélectionnant votre fichier puis en <b>cliquant sur "Importez vos préférences"</b>.
          </p>

          <p><b>ATTENTION: Ne rechargez pas la page !
          Actuellement, un refresh de celle-ci vous fait perdre toutes vos données que vous n'avez pas sauvegardées !</b>
          Sauvegardez régulièrement et surtout naviguez à travers les pages grâce aux menus du site <span style="font-size: 20px;">☺</span></p> -->
        </md-card-content>
    </md-card>

    <!-- <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline"><b>Importez ou exportez vos préférences</b></span>
          <span class="md-subhead">Améliorez vos prédictions en notant d'autres films !</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <div><b>Uploader vos films déjà annotés</b></div>
        <input id="preferences" type="file">
        <md-button ng-click="uploadFiles()" class="md-raised" aria-label="description" md-ripple-size="auto">Importez vos préférences</md-button>

        <md-button ng-click="saveToPc(moviesEvaluation, 'moviesEvaluated.json')" class="md-raised" aria-label="description" md-ripple-size="auto">Enregistrer mes annotations</md-button>
      </md-card-content>

      
    </md-card> -->

  </md-content>
</div>
